extends ../layout

block css
  link(rel='stylesheet', href='/styles/home/home.css')

block content
  .top-wrapper
    .top
      .top-text.cursor-default.unselectable.animated.fadeIn(data-stellar-ratio='0.6')
        .title
          span.white-text XiP
        .sub-title
          | coming soon

block footer
  include ../global/footer

block js
  script(type='text/javascript', src='/js/home/home.js')

