extends ../layout

block css
  link(rel='stylesheet', href='/styles/home/home.css')

block content
  .top-wrapper
    .top
      .top-text.cursor-default.unselectable.animated.fadeIn(data-stellar-ratio='0.6')
        .title
          span.white-text X
          span.green-text iP
        //- .sub-title
        //-   | coming soon
        .text-content XiP uses proprietary technology to track the flow of cars in and out of parking lots. With the data XiP collects, the XiP team is able to provide real-time analytics to both drivers and parking lot managers. Right now, we are working on using XiP to improve the parking experiences of students attending universities in the Southwest. If you have any questions or want to give us feedback, shoot us an email at
          | 
          a.cursor-pointer(href='mailto:xiptechnologies@gmail.com') xiptechnologies@gmail.com


block footer
  include ../global/footer

block js
  script(type='text/javascript', src='/js/home/home.js')

