extends ../layout

block css
  link(rel='stylesheet', href='/styles/home/home.css')

block content
  .top-wrapper
    .top
      .top-text.cursor-default.unselectable.animated.fadeIn(data-stellar-ratio='0.6')
        h1
          img.main-logo(src="imgs/xip.png", alt="XiP Technologies | Better Parking Faster", width=500)
        .text-content Do you have trouble finding parking at your university?
          | So do we! Which is why we're
          | working on an app that helps students find empty parking spots.
          | Have ideas? Email us at
          | 
          a.cursor-pointer(href='mailto:xiptechnologies@gmail.com') xiptechnologies@gmail.com


block footer
  include ../global/footer

block js
  script(type='text/javascript', src='/js/home/home.js')

