extends ../layout

block css
  link(rel='stylesheet', href='/styles/home/home.css')

block content
  .top-wrapper
    .top(data-stellar-background-ratio='0.5')
  .top-text.cursor-default.unselectable.animated.fadeIn(data-stellar-ratio='0.6') Introducing: Educode

  .pa-container
    .content-wrapper
      .middle-section

block js
  script(type='text/javascript', src='/js/home/home.js')