extends ./layout

block css
  link(rel='stylesheet', href='styles/blog.css')
block js
  script(type='text/javascript', src='js/blog.js')
  
block content
    .row.bruce-banner
      .col-xs-8.col-xs-offset-2
        h1.page-header Park Ave Blog
    .row
      .col-sm-8.col-sm-offset-2
        each post, index in posts
          .row
            .col-sm-10.col-sm-offset-1
              .post-box.well
                h2.post-box-heading
                  - var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
                  strong= months[post.date.getMonth()] + ' ' + post.date.getDate() + ', ' + post.date.getFullYear()
                br
                p= post.text
    br
    .row
      .col-sm-8.col-sm-offset-2
        .row
          .col-sm-10.col-sm-offset-1
            div.panel.panel-primary
              div.panel-heading Write a post
              div.panel-body
                textarea.form-control.new-post-text(rows=7)
                br
                button.btn.btn-primary.submit-new-post-button Post




